* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background: #004b87;
    color: white;
    padding: 20px;
}

.logo {
    max-width: 120px;
}

.menu ul {
    list-style: none;
    background: #0077c2;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.menu ul li {
    padding: 0.25rem;
    margin: 0 .5rem 0 .5rem;
    position: relative;
}

.menu ul li::before {
    content: "";
    background-color: white;
    height: 1px;
    width: 0;
    position: absolute;
    top: 1.45rem;
    transition: width .25s linear;
}

.menu ul li:hover::before {
    width: 80%;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.carrossel {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 2rem 0 2rem 0;
    
}

.slides {
    /* border: 1px solid green; */
    display: flex;
    width: 960px;
    overflow: hidden;
    position: relative;
    
}

.slides-img {
    display: flex;
}

.button-slides {
    background-color: #00000080;
    position: absolute;
    bottom: 0;

    height: 3rem;
    width: 960px;
}

label {
    display: inline-block;
    width: 500px;
    background-color: #004b87;
}



.carrossel img {
    width: 100%;
}

section {
    padding: 20px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    /* flex: 1; */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #e0f7fa;
}

footer {
    background: #004b87;
    color: white;
    text-align: center;
    padding: 10px;
}
